In [17]:
# python nythop 
a=(input("Enter a string :"))
reversedword=a[-1]+a[1:-1]+a[0]
print(f"The reversed word ={reversedword}")

Enter a string :hello
The reversed word =oellh

In [25]:
# FIRST 2 LETTER SWAP
first=(input("Enter string 1:"))
second=(input("Enter string 2:"))
result = second[0:2] + first[2:] + " " + first[0:2] + second[2:]
print("The word =", result)

Enter string 1:hello
Enter string 2:world
The word = wollo herld

In [9]:
# FIRST CHARACTER TO $
string=(input("Enter a string"))
print(string[0]+string[1:].replace(string[0],'$'))

Enter a stringmalayalam
malayala$

In [19]:
#COLORS FIRST LAST
colors=input("Enter the colors seperated by comma :").split(",")
print("First color =",colors[0],"\tLast color =",colors[-1])

Enter the colors seperated by comma :red,blue,orange,green
First color = red 	Last color = green

In [7]:
# FILE EXTENTION
filename=input("Enter the file name :")
print("The extention of the file is =",filename.split(".")[-1])

Enter the file name :hello.html
The extention of the file is = html

In [6]:
#TUPLE THIRD AND LAST THIRD
mt=tuple(input("Enter the numbers seperated by comma:").split(","))
print("The tuple =",mt)
print("Third one in tuple ="+mt[2]+"\tLast third in tuple ="+mt[-3])

Enter the numbers : 1,2,3,4,5,6,7,8,9

The tuple = ('1', '2', '3', '4', '5', '6', '7', '8', '9')
Third one in tuple =3	Last third in tuple =7

In [6]:
# color 1 not in color 2
f=set(input("Enter color1 seperated by comma:").split(","))
s=set(input("Enter color1 seperated by comma:").split(","))
print("Color present in set1 but not in set2 =",f-s)

Enter color1 :red,green,blue
Enter color1 :orange,green,dark
Color present in set1 but not in set2 = {'blue', 'red'}

In [17]:
# Dictionary acending and decending
student_names = input("Enter 5 student names separated by spaces: ").split()
students = dict(enumerate(student_names))
print("Students sorted in ascending order:", dict(sorted(students.items())))
print("Students sorted in descending order:", dict(sorted(students.items(), reverse=True)))

Enter 5 student names separated by spaces: alice linto litty pritty nevin
Students sorted in ascending order: {0: 'alice', 1: 'linto', 2: 'litty', 3: 'pritty', 4: 'nevin'}
Students sorted in descending order: {4: 'nevin', 3: 'pritty', 2: 'litty', 1: 'linto', 0: 'alice'}

In [15]:
# Accepting student names from the user
n1= input("Enter 3 student names separated by spaces: ").split()
dict1={1:n1[0],2:n1[1],3:n1[2]}
n2 = input("Enter other 2 student names separated by spaces: ").split()
dict2={4:n2[0],5:n2[1]}
dict1.update(dict2)
print("Merge dic =",dict1)

Enter 3 student names separated by spaces: linto litty pritty
Enter other 2 student names separated by spaces: alice nevin
Merge dic = {1: 'linto', 2: 'litty', 3: 'pritty', 4: 'alice', 5: 'nevin'}

In [11]:
#1-25 even number
num=range(0,25,2)
print(list(num))
print("sum of even numbers 0-25 :",sum(num))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
sum of even numbers 0-25 : 156